@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';




.headerLogin {
    font: normal normal  18px Galano Grotesque;
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .labelSesion{
    font: normal normal  18px Galano Grotesque;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }